:root {
  --bg-col: #ffffff; /* Background colour */

  --ac-col: #ff004c; /* Accent colour */
  --ac-high: #ff709b; /* Accent highlighted */

  --txt-col: #282c34;
  --nav-height: 8vh;
  --nav-padding: 1vh;
  --nav-shad: 0px 7px 10px -6px rgba(0,0,0,0.5); /* Navbar box shadow */
}

body {
  background: var(--bg-col);
  color: var(--txt-col);
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;

  width: 100%;
  overflow: hidden;
}

.navbar > .slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row-reverse;

  margin: var(--nav-padding);
  background: var(--ac-col);
}

.nav-section {
  display: flex;
  justify-content: space-between;

  height: var(--nav-height);
}

.nav-item-container {
  flex-grow: 0;
}

.nav-button-container {
  flex-grow: 1;
}

.nav-button, .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--nav-height);
}

.nav-button button {
  width: calc(var(--nav-height) * 0.75);
  height: calc(var(--nav-height) * 0.75);

  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;
  font-size: calc(var(--nav-height) * 0.4);
  border-radius: 50%;
}

@media (hover: hover) {
  .navbar {
    opacity: 0.25;
  }

  .navbar:hover {
    opacity: 1;
  }

  .navbar > .slider {
    width: var(--nav-height);

    border-radius: calc(var(--nav-height) * 0.5);
    border-top-right-radius: var(--nav-padding);
  }

  .navbar:hover > .slider {
    width: 100%;

    border-radius: var(--nav-padding);

    -webkit-box-shadow: var(--nav-shad);
       -moz-box-shadow: var(--nav-shad);
            box-shadow: var(--nav-shad);
  }

  .navbar .nav-button-container {
    opacity: 0;
    visibility: hidden;
  }

  .navbar:hover .nav-button-container {
    opacity: 1;
    visibility: visible;
  }

  .navbar:hover .nav-section > .nav-item {
    transform: rotate(-90deg);
  }

  .nav-button button:hover {
    background: var(--ac-high);
  }
}

@media (hover: none) {
  .navbar .slider {
    width: 100%;

    border-radius: var(--nav-padding);

    -webkit-box-shadow: var(--nav-shad);
       -moz-box-shadow: var(--nav-shad);
            box-shadow: var(--nav-shad);
  }

  .navbar .rotate {
    display: none;
  }

  .nav-button:active {
    background: var(--ac-high);
  }
}

@media (prefers-reduced-motion: no-preference) {
  * {
    transition: 0.2s ease-in-out;
  }
}
